.chatLink img {
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid #aaa;
    position: relative;
}

.chatLink .name {
    position: absolute;
    color: #000;
    top: 15px;
    left: 70px;
    font-size: 20px;
}

.chatLink {
    background-color: #fff;
    margin: 5px;
    position: relative;
}

.active,
.chatLink a:hover {
    background-color: #ddd;
}

.chatLink a {
    display: block;
    transition: .2s;
    text-decoration: none;
}

@media (max-width: 900px) {
    .chatLink .name {
        display: none;
    }
}