.userAvatar {
    margin: 10px;
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid #aaa;
    position: relative;
}

.selected {
    font-weight: 700;
    border-bottom: 5px solid #888;
}

.dots {
    display: inline-block;
    padding:0px 12px;
}
.pageSelector {
    padding:10px 12px;
    display: inline-block;
    transition: .2s;
    cursor: pointer;
}
.pageSelector:hover {
    background-color: #aaa;
}