.messenger {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: 15px;
}

.column {
    flex-flow: column;
    height: 85vh;
    border: 1px solid #ffffff;
    position: relative;
}

.dialogsList {
    max-width: 20%;
    width:20%;
    background: #fff;
}

.dialog {
    max-width: 80%;
    background: #ccc;
}

@media (max-width: 900px) {
    .dialogsList {
        width:72px;
    }
}