.ProfileInfo {
  width: 80%;
  height:fit-content;
  background-color: #fff;
  border: 2px solid #ddd;
  display: flex;
}

.ProfileInfo img {
  border: 2px solid #eee;
  object-fit: contain;
  object-position: center top;
  max-height: 270px;
  max-width: 270px;
  margin: 15px;
}

.Biography {
  display: inline-block;
  font-size: 20px;
  line-height: 10px;
}
.Biography ul li {
  line-height: 22px;
  font-weight: 100;
}

.fullName {
  font-size: 32px;
}

pre {
  line-height: 16px;
}