.news {
    position: relative;
    width:100%;
}

.searchField {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px;
    width:100%;
}

/* .searchField form {
    width: 100%;
} */

.searchBar {
    font-size: 28px;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 5px 1px #aaa;
    width: 60%;
}

.emptySearch {
    box-shadow: 0px 0px 10px 1px #33A1FD;
}

.button {
    font-size: 28px;
    color: #111;
    background-color: #fff;
    width:50px;
    height:50px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 5px 1px #aaa;
    cursor: pointer;
    margin: 5px;
    transition: .2s;
    padding:9px;
}

.button:hover {
    background-color: #ddd;
}


.button:active {
    background-color: #bbb;
}

.errorMessage {
    display: flex;
    justify-content: center;
    color: #666;
    font-style: italic;
}

.didUMean {
    color: #33A1FD;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

.didUMean:hover {
    color: #33CEFD;
}

.paginator {
    margin-left: 15px;
}

.options {
    font-size: 16px;
    position: absolute;
    background-color: #fff;
    padding:10px;
    box-shadow: 0 0 5px 1px #aaa;
    border-radius: 12px;
    /* margin-left: -850px; */
    /* margin-right: 1050px; */
    /* margin-top: 10px; */
    left: 180px;
    top:65px;
}